body {
    background-color: indigo
}

.urna {
    background-color: white;
    margin: 0;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    height: 500px;
    border-radius: 10px;
}

.quadrado-candidato {
    background-color: darkgray;
    border-radius: 2px;
    position: absolute; top: 12%;
    margin-left: 1%;
    margin-right: 850px;
    height: 467px;
    width: 467px;
}

.img-candidato {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

.tabela {
    position: absolute; top: 11.8%;
    margin-left: 26%;
}

.buttons {
    background-color: black;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    height: 113px;
    width: 257px;
    border-radius: 10px;
}

.button-corrige {
    background-color: red;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    height: 113px;
    width: 257px;
    border-radius: 10px;
}

.button-confirma {
    background-color: green;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    height: 113px;
    width: 257px;
    border-radius: 10px;
}